<section id="contact">
	<div class="section-content">
		<% provide(:title, 'feedback_form') %>
			<h1 class="section-header">Get in <span class="content-header wow fadeIn " data-wow-delay="0.2s" data-wow-duration="2s"> Touch with us</span></h1>
	</div>
	<div class="container">
	 <%= form_for @feedback  do |f| %>
	 <%= render 'shared/error_messages', object: f.object %>
			<div class="col-md-6 form-line">
				<div class="form-group">
					<label for="exampleInputUsername">First name</label>
					<input type="text" class="form-control", name="feedback[name]" id="name" placeholder=" Enter Name">
				</div>
				<div class="form-group">
					<label for="exampleInputEmail">Last Name</label>
					<input type="lastname" class="form-control", name="feedback[lastname]" id="lastname" placeholder=" Enter Last Name">
				</div>  
			</div>
			<div class="col-md-6">
				<div class="form-group">
					<label for ="description">Description</label>
					<textarea  class="form-control" name="feedback[description]", id="description" placeholder="Enter Your feedback"></textarea>
				</div>
				<div>
					<%= f.submit "Submit feedback" , class: "btn btn-default submit" %>
				</div>	
			</div>
		<% end %>
	</div>
</section>